/* Palette
primary white color #FFFFFF
secondary blue color #2196F3
black text color for headers #212121
description text color #757575
primary black background color #2F303A
secondary white background color #F5F4FA
completly dark color #000000
 */
:root {
  --primary-color: #ffffff;
  --secondary-color: #2196f3;
  --header-text-color: #212121;
  --description-text-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --dark-logo-color: #000000;
  --border-color: #eeeeee;
  --white-transparent-color: rgba(255, 255, 255, 0.6);
}

/* general */
body {
  color: var(--description-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--header-text-color);
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* general header */
.page-header {
  border-bottom: 1px solid var(--border-color);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--dark-logo-color);
}
@media screen and (max-width: 767px) {
  .header-logo {
    margin: 16px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.header-logo__accent {
  color: var(--secondary-color);
}

.container--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link {
  color: var(--header-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--secondary-color);
}
.site-nav__link.site-nav__current {
  color: var(--secondary-color);
  position: relative;
}
.site-nav__link.site-nav__current::after {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -33px;
  background-color: var(--secondary-color);
}

.header-address {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}
@media only screen and (max-width: 1199.98px) and (min-width: 768px) {
  .header-address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-address__item + .header-address__item {
    margin-left: 50px;
  }
}
.header-address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address__link:hover, .header-address__link:focus {
  color: var(--secondary-color);
}
.header-address__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* general footer  */
.page-footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer__main-footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer__main-footer {
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__main-footer {
    margin-right: 70px;
    margin-left: 0px;
    text-align: left;
  }
}
.page-footer__join-us {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer__join-us {
    text-align: left;
  }
}
.page-footer__strong {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 20px;
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    text-align: left;
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer-logo__accent {
  color: var(--secondary-color);
}

.footer-address {
  line-height: 1.71;
  margin-bottom: 60px;
}
.footer-address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address__info {
  color: var(--white-transparent-color);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__info:hover, .footer-address__info:focus {
  color: var(--secondary-color);
}
.footer-address__map {
  color: var(--primary-color);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__map:hover, .footer-address__map:focus {
  color: var(--secondary-color);
}

.footer-social-list {
  margin-top: 20px;
  margin-bottom: 0;
}
.footer-social-list__link {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--secondary-color);
}
.footer-social-list__icon {
  fill: var(--primary-color);
}

.mailing-list {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mailing-list {
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: 93px;
    text-align: left;
  }
}
.mailing-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199px) {
  .mailing-list__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.mailing-list__input {
  margin-top: 20px;
  margin-right: 12px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background: var(--primary-background-color);
  font-size: 16px;
  line-height: 1.25;
  outline: none;
}
@media screen and (min-width: 768px) {
  .mailing-list__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-list__input {
    width: 358px;
  }
}
.mailing-list__button {
  height: 50px;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}
@media (min-width: 768px), (max-width: 1199px) {
  .mailing-list__button {
    margin-top: 20px;
  }
}
.mailing-list__button::after {
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon\ send.svg);
  background-size: contain;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-mob-1x.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob-1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-mob-2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-tab-1x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-tab-2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-desk-1x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-desk-1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img-desk-2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-desk-2x.png);
  }
}

.hero-page {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-page__header {
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--primary-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero-page__header {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-page__button {
  display: inline-block;
  border-radius: 4px;
  min-width: 216px;
  min-height: 50px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0px;
}

.about-company__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-company__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .about-company__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-company__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.about-company__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about-company__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .about-company__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about-company__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.advantages-section {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-background-color);
}
.advantages-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages-section__title {
    text-align: left;
  }
}
.advantages-section__description {
  width: 100%;
  line-height: 1.71;
}

.what-we-do {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}
.what-we-do__title {
  margin-bottom: 50px;
}
.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what-we-do__item {
  position: relative;
}
.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do__description {
  width: 370px;
  height: 70px;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color);
}
.what-we-do__image {
  max-width: 100%;
  height: auto;
}

.our-team {
  background-color: var(--secondary-background-color);
}
.our-team__title {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 1199.98px) and (min-width: 768px) {
  .our-team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0px;
  }
}
.our-team__item {
  margin-bottom: 30px;
  text-align: center;
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .our-team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
.our-team__photo {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .our-team__photo {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-characteristic {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-characteristic__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-characteristic__description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--secondary-color);
  border-radius: 50px;
}
.social-list__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-color);
}

.our-clients__title {
  margin-bottom: 50px;
}
.our-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.our-clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .our-clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .our-clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.our-clients__icon {
  fill: currentColor;
}
.our-clients__link {
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover, .our-clients__hover:focus {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.portfolio-buttons-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-buttons-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  color: var(--header-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-wrap-details {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap-details img {
  display: block;
}

.portfolio-details {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-details,
.portfolio-item:focus .portfolio-details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-characteristic {
  padding: 24px 20px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-list .section-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--description-text-color);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 48px 40px;
  background-color: var(--primary-color);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav {
  margin-bottom: 306px;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}
.mobile-nav__link.mobile-nav__current {
  color: var(--secondary-color);
}

.mobile-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.mobile-adress__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.mobile-adress__link--gmail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}

.menu-social-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.menu-social-list__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.menu-social-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 380px) {
  .modal {
    width: 370px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--dark-logo-color);
  background-color: var(--primary-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--secondary-color);
}
.modal__close-icon {
  width: 18px;
  height: 18px;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--header-text-color);
}

.modal-form__form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-form__input-wrap {
  position: relative;
}
.modal-form__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--description-text-color);
  letter-spacing: 0.01em;
}
.modal-form__input:focus + .modal-form__form-icon {
  fill: var(--secondary-color);
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  color: rgb(117, 117, 117);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border: 1px solid var(--secondary-color);
}
.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  color: rgb(117, 117, 117);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal-form__textarea {
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal-form__textarea:focus {
  border: 1px solid var(--secondary-color);
}

.modal-button {
  margin: 0 auto;
  padding: 10px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: var(--primary-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.accept {
  margin-top: 20px;
  margin-bottom: 30px;
}
.accept__link {
  text-decoration: underline;
  color: var(--secondary-color);
}
.accept__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.accept__label {
  font-size: 12px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 380px) {
  .accept__label {
    font-size: 9px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .accept__label {
    font-size: 14px;
    line-height: 1.17;
  }
}
.accept__checkbox {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--header-text-color);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accept__tick {
  display: none;
}
.accept__input:checked + .accept__label .accept__checkbox {
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.accept__input:checked + .accept__label .accept__tick {
  display: block;
}/*# sourceMappingURL=main.css.map */