.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translate(-50%, -50%) scale(1.1);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--dark-logo-color);
    background-color: var(--primary-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close-button:hover,
  &__close-button:focus {
    fill: var(--secondary-color);
  }

  &__close-icon {
    width: 18px;
    height: 18px;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--header-text-color);
  }
}

.modal-form {
  &__form-element {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__input-wrap {
    position: relative;
  }

  &__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);
  }

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    color: var(--description-text-color);

    letter-spacing: 0.01em;
  }

  &__input:focus + &__form-icon {
    fill: var(--secondary-color);
  }

  &__input {
    width: 448px;
    height: 40px;
    border: none;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    color: rgba(117, 117, 117);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus {
    border: 1px solid var(--secondary-color);
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;

    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    color: rgba(117, 117, 117);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__textarea:focus {
    border: 1px solid var(--secondary-color);
  }
}

.modal-button {
  margin: 0 auto;
  padding: 10px 42px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background: #2196f3;
  color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.accept {
  margin-top: 20px;
  margin-bottom: 30px;

  &__link {
    text-decoration: underline;
    color: var(--secondary-color);
  }

  &__input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &__label {
    font-size: 14px;
    line-height: 1.17;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__checkbox {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--header-text-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
  }

  &__tick {
    display: none;
  }

  &__input:checked + &__label &__checkbox {
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }

  &__input:checked + &__label &__tick {
    display: block;
  }
}
