.about-company {
  &__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages-section {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-background-color);

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--header-text-color);
    margin-bottom: 10px;
  }

  &__description {
    width: 270px;
    line-height: 1.71;
  }
}
