.our-team {
  background-color: var(--secondary-background-color);

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    text-align: center;
    background-color: var(--primary-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-characteristic {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }

  &__description {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--secondary-color);
    border-radius: 50px;
  }

  &__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--primary-color);
  }
}
