.portfolio-buttons-list {
  flex-wrap: wrap;
  margin-bottom: 50px;
  display: flex;
  gap: 8px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;

  color: var(--header-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-wrap-details {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap-details img {
  display: block;
}

.portfolio-details {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;

  font-size: 18px;
  line-height: 1.56;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-details,
.portfolio-item:focus .portfolio-details {
  transform: translateY(0);
}

.portfolio-characteristic {
  padding: 24px 20px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-list .section-title {
  text-align: left;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--description-text-color);
}
